:root{
    --gradient:linear-gradient(90deg, #fd7f2b, #da4500);
}


*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
   
}


*::selection{
    background:#774401;
    color:#fff;
}

    .card{
    color: #fff;
    display: block;
    background-color: rgba(163, 157, 154, 0.3);
    min-width: 500px;
    min-height: 500px;
    border-radius: 15px;
}





html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(#fd7f2b, #da4500);
}

/*ShowCase Area Style*/
.showcase {
    text-align: center;
    color:#fffefd;
    padding-top: 15%;
    height: 420px;
    background-image:url(../images/donation-box-clothing-donations-blue-background-charity-donation-concept-copy-space-donation-box-clothing-189378502.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
  }
  .showcase h1 {
    padding: 110px 0 20px 0;
    font-size: 60px;
  }
  .showcase p {
    padding: 10px;
    font-size: 20px;
  }
section{
    min-height: 120vh;
    padding:1rem 7%;
    padding-top:6rem;
}



.heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

/*Footer Style */
footer {
    padding: 27px;
    text-align: center;
    font-size: 16px;
    background-color:   #da4500;
    color: #ffffff;
    display: block;
    width: 100%;
  }
  .card {
    color: #fff ;
    display: block; 
    background-color: rgba(46, 22, 22, 0.3);
    min-width: 500px;
    min-height: 400px;
    border-radius: 15px;
    padding:60px;
    margin:60px;
}
#lab1{
    color: 
    #fff;
    font-weight: 500 ; 
    font-size:30px;
    font-weight: 200;
     font-family:Georgia, 'Times New Roman', Times, serif
}
#lab2{
    color: rgb(0, 0, 0);
    padding:10px;
    font-weight: 500;
     font-size:20px; 
     font-family:Georgia, 'Times New Roman', Times, serif
}
#selc{
        margin-bottom: 1em;
        margin-left:10px;
        padding: 6px;
        border: 0;
        border-bottom: 2px solid currentcolor; 
        font-weight: bold;
        letter-spacing: .15em;
        border-radius: 0;
              }
              
#Transfer {
              display: inline-block;
              padding: 15px 25px;
              font-size: 24px;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #020202;
              background-color: #fd7f2b;
              border: none;
              border-radius: 15px;
              box-shadow: 0 7px rgb(153, 10, 0);
              margin-top: 10%;       
              margin-left: 40%;
              margin-right: 40%;
          }
          #Transfer1 {
            display: inline-block;
            padding: 10px 20px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #020202;
            background-color: #fd7f2b;
            border: none;
            border-radius: 15px;
            box-shadow: 0 7px rgb(153, 10, 0);
            margin-top: 5%; 
        }         





header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;
    background:var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}


header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:rgb(29, 27, 27);
}


header #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
   
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
   
    
    position: relative;
    text-align: center;
}


.home h1{
    font-size: 4rem;
    color:#35252f;
    padding:4rem 0;
    width:70rem;
}


.customers{
    display: flex;
    align-items:left;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: url(../images/44161424.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.customers1{
    display: flex;
    align-items:left;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: url(../images/stock-photo-wood-frame-texture-wooden-wallpaper-table-board-background-blank-81d18885-3859-4c33-ace5-88595b2dc7cb.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}










.contact{
    color: rgb(240, 231, 231);
        background-color: rgba(45, 44, 73, 0.3);
        min-width: 500px;
        min-height: 200px;
        
}

.contact .heading{
    color:rgb(240, 235, 235);
}

.contact .row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}





table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
    color: #300e2a;
    width: 100%;
    font-family: sans-serif;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    }
    th {
        background-color: #320233;
        color: #ffffff;
        text-align: center;
    }
    td{
        padding: 130x 15px;
    }
    tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    tbody tr:last-of-type {
        border-bottom: 2px solid #320233;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: #320233;
    }
    table {
        border-collapse: collapse;
      }
      table, th, td {
        border: 1px solid;
      }




